<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>dashcam.io - Personal dashcam that you can start in the background that records everything.</title>
  </head>
  <body>
    <h1>MAIN APP !!!</h1>
  </body>
</html>
